.blockWrapper {
    border-radius: 40px;
    background: #fff;
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0;
    gap: 72px;
    box-sizing: border-box;
}

.content {
    padding: 44px;
}

.blockWrapper.blockRow {
    width: 100%;
    flex-direction: row;
    padding: 77px 0 56px 44px;
}

.blockWrapper img {
    width: 100%;
    height: auto;
}

.blockWrapper.dark {
    background: #161616;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.blockWrapper span {
    color: #7C7C7C;
}

.blockWrapper.dark h4 {
    color: #fff;
}

.blockWrapper.dark span {
    color: #918EA4;
}

.imgWrapper {
    padding: 44px 44px 0;
    border-radius: 0 0 40px 40px;
    height: 421px;
    display: flex;
}

.blockRow .imgWrapper, .blockRow .content {
    padding: 0;
    border-radius: 0;
    height: auto;
}

.blockWrapper.dark .imgWrapper {
    background: #fff;
}

.blockWrapper.blockRow .imgWrapper {
    background: none;
}

.blockWrapper.light .imgWrapper {
    background: #161616;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 1358px) {
    .blockWrapper {
        width: 48.5%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 869px) {
    .blockWrapper.blockRow .imgWrapper {
        width: 70%;
    }
}

@media screen and (max-width: 868px) {
    .imgWrapper {
        align-items: flex-end;
        justify-content: center;
    }

    .blockWrapper {
        width: 48%;
    }
}

@media screen and (max-width: 768px) {
    .blockWrapper {
        width: 100%;
        gap: 40px;
    }

    .blockWrapper.blockRow {
        flex-direction: column;
    }

    .imgWrapper {
        display: none;
    }
}
