.heroContent {
    display: flex;
    position: relative;
    z-index: 1;
}

.heroContent img {
    max-width: 620px;
    width: 100%;
    height: auto;
}

.heroSectionWrapper {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}

.imgWrapper {
    width: 49%;
}

.buttonsWrapper {
    display: flex;
    gap: 24px;
    margin-top: 56px;
}

.textWrapper {
    width: 50%;
    padding-left: 30px;
    margin-top: 50px;
}

@media screen and (max-width: 1280px) {
    .heroSectionWrapper {
        padding-right: 20px
    }

    .heroSectionWrapper .imgWrapper {
        width: 40%;
        margin-left: 15px;
    }
}

@media screen and (max-width: 1024px) {
    .heroSectionWrapper {
        padding-right: 5px;
        padding-bottom: 130px;
    }

    .heroContent {
        gap: 40px;
    }
}

@media screen and (max-width: 868px) {
    .heroSectionWrapper {
        background: #fff;
    }
}

@media screen and (max-width: 768px) {
    .textWrapper {
        width: 100%;
        margin-top: 30px;
    }

    .heroSectionWrapper .imgWrapper {
        display: none;
    }

    .heroSectionWrapper {
        padding-bottom: 45px;
    }

    .buttonsWrapper {
        margin-top: 40px;
        flex-wrap: wrap;
    }
}