.infoBlock {
    gap: 5px;
}

.smallBlocksWrapper {
    display: flex;
    gap: 24px;
}

.contentBlock {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.statWrapper {
    display: flex;
    justify-content: space-around;
    padding: 44px 0 110px;
}

@media screen and (max-width: 950px) {
    .smallBlocksWrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 450px) {
    .statWrapper {
        flex-wrap: wrap;
        gap: 20px;
    }
}