.blockWrapper {
    padding: 74px 90px;
    display: flex;
    gap: 50px;
}

.blockWrapper h2 {
    margin-bottom: 27px;
    max-width: 350px;
}

@media screen and (max-width: 1025px) {
    .blockWrapper {
        flex-direction: column;
        gap: 0;
        padding: 50px 30px;
    }

    .blockWrapper h2 {
        max-width: 100%;
    }
}

.accordionTitle {
    font-family: 'Urbanist Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #030712;
    padding: 0;
    align-items: flex-start;
}

div.accordion {
    border-radius: 5px;
    background: none;
    padding: 0 0 30px;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #E5E7EB;
    width: 100%;
}

div.accordion:before {
    display: none;
}

div.accordion.Mui-expanded {
    margin: 0;
}

div.expandedAccordion {
    border-radius: 5px;
    background: none;
    box-shadow: none;
}

.accordionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 43px;
    gap: 15px;
    width: 100%;
}

div.expandIconWrapper {
    padding: 10.1515px;
    background: #F9FAFB;
    border-radius: 126.894px;
    margin-top: 3px;
}

.ellipsisText {
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
    max-width: 600px;
    overflow: hidden;
    font-family: 'Urbanist Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: rgba(3, 7, 18, 0.6);
}

.summaryWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.opened {
    white-space: normal;
}

div.summaryContent {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .blockWrapper {
        padding: 35px 10px;
    }
}

@media screen and (max-width: 630px) {
    .ellipsisText {
        max-width: 500px;
    }
}

@media screen and (max-width: 500px) {
    .ellipsisText {
        max-width: 300px;
    }
}