div.blockWrapper {
    margin: 120px auto 100px;
    position: relative;
}

.blockWrapper h2 {
    margin: 12px auto 20px;
}

.blockList {
    background: #fff;
}

div.blocksWrapper {
    display: flex;
    flex-direction: column;
    gap: 185px;
    margin-bottom: 185px;
    padding-top: 343px;
    margin-top: 274px;
}

.cardsList {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.cardImg {
    position: relative;
}

.cardImg:not(:first-child) {
    margin-left: -60px;
}

.cardImg:first-child {
    margin-left: 0;
}

.cardImg:nth-child(odd) {
    top: -10px;
}

@media screen and (max-width: 1280px) {
    .cardsList img {
        max-width: 300px;
    }
}

@media screen and (max-width: 1025px) {
    div.blocksWrapper {
        padding-top: 198px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 768px) {
    div.blocksWrapper {
        margin-top: 50px;
        padding-top: 80px;
        gap: 130px;
    }

    .cardsList {
        position: relative;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 600px;
        width: 100%;
    }

    .cardImg:not(:first-child) {
        margin-left: 0;
    }

}

@media screen and (max-width: 500px) {
    .cardImg:nth-child(3) {
        margin-left: 0;
    }
}