.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    mix-blend-mode: luminosity;
    padding-top: 63px;
    margin-bottom: 185px;
}

@media screen and (max-width: 1115px) {
    .list {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 769px) {
    .list {
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
    }
}