.wrapper {
    padding: 0 80px;
    max-width: 1440px;
    margin: 0 auto;
}

@media screen and (max-width: 1294px) {
    .wrapper {
        padding: 0 40px;
    }
}

@media screen and (max-width: 868px) {
    .wrapper {
        padding: 0 20px;
    }
}

@media screen and (max-width: 425px) {
    .wrapper {
        padding: 0 10px;
    }
}