@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@font-face {
    font-family: 'Urbanist Regular';
    src: url('/fonts/Urbanist/Urbanist-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Urbanist Bold';
    src: url('/fonts/Urbanist/Urbanist-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Urbanist Medium';
    src: url('/fonts/Urbanist/Urbanist-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Urbanist SemiBold';
    src: url('/fonts/Urbanist/Urbanist-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Urbanist ExtraBold';
    src: url('/fonts/Urbanist/Urbanist-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'PlayfairDisplay SemiBold';
    src: url('/fonts/PlayfairDisplay-SemiBoldItalic.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}

.page-wrapper {
    margin: 0 auto;
    padding-top: 132px;
}

@media screen and (max-width: 1115px) {
    .page-wrapper {
        padding-top: 90px;
    }
}


body:has(.opened) header {
    padding-right: 15px;
}

body {
    background: url('/asset/svg/bg.svg') no-repeat top center;
}

span.text-with-background {
    display: inline-block;
    background: #050505;
    font-family: 'PlayfairDisplay SemiBold', serif;
    font-style: italic;
    font-weight: 600;
    letter-spacing: -0.04em;
    text-transform: capitalize;
    color: #FFFFFF;
    padding: 0 15px;
}

span.gray-text {
    color: rgba(5, 5, 5, 0.6);
}

.backgroundDark {
    background: #050505;
}

.gray-text-dark-background {
    color: rgba(225, 225, 225, 0.6);
}

.color-text {
    color: #DEFC65;
}
