.wrapper {
    margin: 0 auto;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    backdrop-filter: blur(35px);
    z-index: 10;
    background: #ffffff2b;
}

.wrapper .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    padding: 40px 80px;
}

.wrapper:has(.opened) {
    padding-right: 15px;
}


.linkList {
    display: flex;
    align-items: center;
    padding: 4px;
    gap: 4px;
    background: rgba(5, 5, 5, 0.03);
    border-radius: 100px;
}

.linkList li {
    list-style: none;
}

.link {
    font-family: 'Urbanist Medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.05em;
    color: rgba(5, 5, 5, 0.4);
    width: 258px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.buttonWrapper {
    display: flex;
    gap: 48px;
    align-items: center;
}

.signUpLink {
    color: #050505;
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.28px;
}

.activeLink {
    padding: 10px 7px;
    height: 37px;
    background: #FFFFFF;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.04);
    border-radius: 100px;
    color: rgba(5, 5, 5);
}

.topBlock {
    width: 100%;
    background: rgba(222, 252, 101, 0.3);
    height: 40px;
    font-family: 'Urbanist Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.01em;
    color: #050505;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    position: relative;
}

.newText {
    background: #DEFC65;
    border-radius: 99px;
    padding: 4px 12px;
    font-family: 'Urbanist Medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #050505;
}

.linkWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 4px;
}

.linkWrapper svg {
    pointer-events: none;
}

.mobileNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.closeButton {
    background: none;
    border: none;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 105px;
    cursor: pointer;
}

@media screen and (max-width: 1280px) {
    .wrapper .header {
        padding: 40px;
    }
}

@media screen and (max-width: 1024px) {
    .wrapper .header {
        padding: 20px 30px;
    }

    .link, .signUpLink {
        font-size: 18px;
    }

    .buttonWrapper {
        gap: 35px;
    }

    .sublink {
        color: #050505;
        font-family: Inter, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.32px;
        text-decoration: none;

    }
}

.mobNav {
    display: none;
}

@media screen and (max-width: 1025px) {
    .link {
        width: 150px;
    }
}

@media screen and (max-width: 768px) {
    .desktopNav {
        display: none;
    }

    .mobNav {
        display: block;
    }

    .linkList {
        background: none;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        padding: 30px 0 ;
    }

    .link {
        box-shadow: none;
        background: none;
        text-align: start;
        padding: 0;
        font-size: 20px;
        width: auto;
        height: auto;
        line-height: 1;
    }

    .buttonWrapper {
        flex-direction: column;
        align-items: flex-start;
    }
}


