.wrapper {
    display: flex;
    width: 100%;
    position: relative;
}

.arrow svg path {
    fill: #141414
}

.dark .arrow svg path {
    fill: #CECECE
}

.arrow {
    position: absolute;
    border-radius: 100px;
    z-index: 1;
    bottom: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.prevArrow {
    left: 79px;
}

.prevArrow svg {
    transform: rotate(180deg);
}

.arrow.disabled {
    opacity: 0.4;
    width: 35px;
}

.arrow.disabled svg path {
    fill-opacity: 0.5;
}

.nextArrow {
    left: 146px;
}


@media only screen and (max-width: 1024px) {
    .wrapper {
        display: block;
        width: inherit;
    }

    .arrow {
        bottom: 30px;
    }

    .prevArrow {
        left: 40px;
    }

    .nextArrow {
        left: 110px;
    }
}