.block {
    max-width: 256px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.imageWrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.block span {
    white-space: break-spaces;
}
